# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head(15)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2019-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2019-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2019-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2019-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2019-03-09 06:26:29,42.81,5327642267789,33,Urban
10,New Kimberlyborough,2019-02-07 01:10:11,9.34,7992781920789,33,Urban
11,West Angela,2019-01-12 01:45:27,26.86,4820052223501,48,Urban
12,Rodneyfort,2019-03-02 18:03:20,44.26,2494064867705,34,Urban
13,West Angela,2019-01-10 12:17:31,12.74,2108723916092,48,Urban
14,Roberthaven,2019-05-04 14:48:56,25.66,1026197778354,47,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
city=pyber_data_df.groupby(["type"]).count()
city

          city  date  fare  ride_id  driver_count
type
Rural      125   125   125      125           125
Suburban   625   625   625      625           625
Urban     1625  1625  1625     1625          1625

In [4]:
#  1. Get the total rides for each city type
rides_by_city=pyber_data_df.groupby(["type"]).count()["ride_id"]
rides_by_city

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [5]:
# 2. Get the total drivers for each city type
drivers_by_city=city_data_df.groupby(["type"]).sum()["driver_count"]
drivers_by_city

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [6]:
#  3. Get the total amount of fares for each city type
fare_by_city=pyber_data_df.groupby(["type"]).sum()["fare"]
fare_by_city

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [7]:
#  4. Get the average fare per ride for each city type. 
average_fare_per_ride=fare_by_city/rides_by_city
average_fare_per_ride

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [8]:
# 5. Get the average fare per driver for each city type. 
average_fare_per_driver=fare_by_city/drivers_by_city
average_fare_per_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [9]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df=pd.DataFrame(
    {
    "Total Rides":rides_by_city,
    "Total Drivers":drivers_by_city,
    "Total Fares":fare_by_city,
    "Average Fare Per Ride":average_fare_per_ride,
    "Average Fare Per Driver":average_fare_per_driver
    
    })

pyber_summary_df.head()

,Total Rides,Total Drivers,Total Fares,Average Fare Per Ride,Average Fare Per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [10]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [11]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [12]:
pyber_data_df["date"] = pd.to_datetime(pyber_data_df["date"])
pyber_data_df.dtypes

city                    object
date            datetime64[ns]
fare                   float64
ride_id                  int64
driver_count             int64
type                    object
dtype: object

In [13]:

# 1. Read the merged DataFrame

In [14]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
pyber_data_df["date"] = pd.to_datetime(pyber_data_df["date"]).dt.date
fare_by_date=pyber_data_df.groupby(["type","date"]).sum()[["fare"]]
fare_by_date.head(25)

                    fare
type  date
Rural 2019-01-01   43.69
      2019-01-02   52.12
      2019-01-03   19.90
      2019-01-04   24.88
      2019-01-06   47.33
      2019-01-08   19.39
      2019-01-09   31.84
      2019-01-11   16.42
      2019-01-14   72.15
      2019-01-15   30.26
      2019-01-18   58.69
      2019-01-19  144.90
      2019-01-22   23.61
      2019-01-23   40.24
      2019-01-24   34.74
      2019-01-27   81.10
      2019-01-28   31.25
      2019-01-30  109.20
      2019-01-31   58.29
      2019-02-01   17.05
      2019-02-02   65.49
      2019-02-03   51.80
      2019-02-04   59.67
      2019-02-05   45.02
      2019-02-10   11.11

In [15]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
fare_by_date=fare_by_date.reset_index()
fare_by_date.head()

    type        date   fare
0  Rural  2019-01-01  43.69
1  Rural  2019-01-02  52.12
2  Rural  2019-01-03  19.90
3  Rural  2019-01-04  24.88
4  Rural  2019-01-06  47.33

In [16]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
fare_by_date_pivot=pd.pivot_table(pyber_data_df,index="date",columns="type",values="fare")
fare_by_date_pivot.head(10)

type        Rural   Suburban      Urban
date
2019-01-01  43.69  32.130000  18.254286
2019-01-02  52.12  39.274286  25.499167
2019-01-03  19.90  26.696000  21.706667
2019-01-04  24.88  20.690000  23.467273
2019-01-05    NaN  33.786667  29.817059
2019-01-06  47.33  31.315000  28.914286
2019-01-07    NaN  31.002000  18.168333
2019-01-08  19.39  28.410000  27.127857
2019-01-09  31.84  30.134000  28.917500
2019-01-10    NaN  34.812000  29.461429

In [19]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

given_date_df=fare_by_date_pivot.loc["2019-01-01":"2019-04-29"]
given_date_df.head()

TypeError: '<' not supported between instances of 'datetime.date' and 'str'

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')